<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Dodaj zadanie</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/my-profile (mode='data')}" th:text="${name}"></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Main Window</a>
        </div>
    </div>
</nav>


<div class="container text-center">
    <h3>New Task</h3>
    <form class="form-horizontal" th:object="${task}" method="post" th:action="@{'/give-task'(idWorker=${idWorker})}">
        <input type="hidden" name="idTask" th:field="*{idTask}"/>
        <div class="form-group">
            <label class="control-label col-md-3">Whattodo</label>
            <div class="col-md-5">
                <input type="text" class="form-control" th:maxlength="85" th:placeholder="Whattodo" th:field="*{whattodo}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Deadline</label>
            <div class="col-md-5">
                <input type="date" class="form-control" th:field="*{deadline}"/>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Give task"/>
        </div>
    </form>
</div>

</body>
</html>